@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Manrope";
}

header{
  background-image: url(./image/header-image.png);
  padding-top: 462px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.font-w-600{
 font-weight: 600;
}

.opasite{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(15, 23, 40, 0.9) 100%);
}

.hover{
  transition: 0.7s;
}

.hover:hover{
  background-color: blue;
  color: #fff;
  transition: 0.7s;
}

.font-size{
  font-size: 14px;
}

.font-size-16{
  font-size: 16px;
}

.hover-1:hover{
  color: blue;
}

@media screen and (max-width:768px) {
  .column{
    display: flex;
    flex-direction: column;
  }
}